@import './src/styles/_variables.scss';

// .container {
//     margin: 3rem 0;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

.section__content__header {
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    margin: 2rem auto 3rem;
}

.grid__picture {
    background: var(--color5);
}

.profile_pic {
    border-radius: 1rem;
    filter: grayscale(30%);
    filter: saturate(70%);
    opacity: 1;
    padding: 0.5rem;
    box-shadow: 3px 3px 6px 2px rgba(var(--color4--rgb), 0.7),
        -3px -3px 3px 2px rgba(255, 255, 255, 0.8);
}

.profile_pic:after {
    color: var(--color5);
    // z-index: 2;
}

.paragraph {
    line-height: 1.5rem;
}

.section__content__header_title {
    display: inline-block;
    align-self: flex-start;
    padding: 0.5rem 1.5rem;
    color: var(--color2);
    margin-bottom: 1rem;
    text-transform: uppercase;
    border-radius: 1rem;
    box-shadow: 3px 3px 5px 2px rgba(var(--color4--rgb), 0.3),
        -3px -3px 4px 2px rgba(255, 255, 255, 0.8);
    // border-bottom: 0.1rem solid $title-highlight;
    font-weight: 400;
}

// @media only screen and (max-width: 992px) {
//     .paragraph {
//         padding-left: 1.5rem;
//     }
// }

@media only screen and (max-width: 768px) {
    .paragraph {
        padding-left: 2rem;
    }
}

@media only screen and (max-width: 425px) {
    .title {
        font-size: 1.5rem;
    }
    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
    }

    .profile_pic {
        margin: auto;
    }

    .paragraph {
        padding-top: 2rem;
    }
}

// @media only screen and (max-width: 768px) {
//     .paragraph {
//         padding-left: 3rem;
//     }
// }
