.hero {
    position: relative;
    height: 100vh;
}

.page__content {
    position: absolute;
    top: 30%;
    color: var(--color3);
}

.image_container {
    position: absolute;
    width: 30%;
    right: 0;
    bottom: 3rem;
}

.image_container__image {
    width: 100%;
}

.arrow_down {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: var(--color5);
    box-shadow: 3px 3px 5px 2px #c5e2e065,
        -2px -2px 4px 2px rgba(255, 255, 255, 0.8);
    color: var(--color3);
    position: absolute;
    bottom: 2rem;
    border-radius: 50%;
    animation: bounce 2s infinite ease-in-out;
    & > i {
        padding: 0;
    }
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-1rem);
    }
}

// MEDIA QUERIES

// @media only screen and (min-width: 2560px) {
//     .image_container {
//         // right: 0;
//         width: 40%;
//     }
//     .arrow_down {
//         font-size: 3rem;
//     }
// }

// @media only screen and (min-width: 1441px) {
//     // .image_container {
//     //     // right: 0;
//     //     width: 40%;
//     // }
//     .arrow_down {
//         font-size: 2rem;
//     }
// }

@media only screen and (max-width: 900px) {
    .page__content {
        top: 40%;
    }
    .image_container {
        right: -1rem;
        width: 40%;
        bottom: -4rem;
    }
}

@media only screen and (max-width: 425px) {
    .image_container {
        right: -1rem;
        width: 60%;
        bottom: -4rem;
    }
}

// @media (max-width: 700px) {
//     .image {
//         // text-align: center;
//         // right: 30%;
//         // left: 0;
//         right: 0;
//         // margin: auto;
//         width: 60%;
//         // bottom: 2rem;
//     }
// }
