@import './src/styles/_variables.scss';

.container {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.container::before {
    content: '';
    height: 100px;
}

.title {
    align-self: flex-start;
    margin-bottom: 1rem;
    border-bottom: 0.1rem solid $title-highlight;
    font-weight: 400;
}

.section_text {
    align-self: flex-start;
    margin-bottom: 1rem;
    font-weight: 300;
}

.display {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    // display: grid;
    // grid-template-columns: repeat(3, minmax(0, 1fr));
    // grid-template-rows: auto;
    // height: 50vh;
    margin: 2rem 1rem;
    // min-height: 0;
    // min-width: 0;
    // grid-gap: 1.5rem;
}

.card {
    // background-color: #0282c3;
    min-width: 200px;
    max-width: 250px;
    // border: 1px solid white;
    // color: #ffffff;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 2px 2px 8px #d4d4d4, -2px 2px 8px #d4d4d4;
    border-radius: 1rem;
    // padding: 1.25rem;
    margin: 1rem;
    transition: all 0.7s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 15px #d4d4d4, -5px 5px 15px #d4d4d4;
}

.previewImage {
    width: 100%;
    justify-self: center;
    align-self: center;
    border-radius: 1rem;
    z-index: 1;
}

.projectName {
    margin-bottom: 0.5rem;
}

.description_container {
    // background-color: #0282c3;
    padding: 1rem;
    // margin-top: -1rem;
}

.projectDescription {
    margin-bottom: 1rem;
    flex-grow: 1;
}

.languagesLabels {
    display: flex;
    align-items: flex-start;
    justify-self: end;
    flex-wrap: wrap;
    padding: 1px 0;
}

.languagesLabels__label {
    background-color: #02478c;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 0.2rem;
    margin-right: 0.3rem;
    padding: 0.1rem 0.3rem;
}

.btnHome {
    margin: 1rem 0;
}

@media only screen and (min-width: 1440px) {
    // .card {
    //     padding: 1.5rem;
    // }
    .languagesLabels {
        margin: 0.4rem 0;
    }
    // .container::before {
    //     height: 80px;
    // }
    // .card {
    //     min-width: 200px;
    //     max-width: 300px;
    // }
}

@media only screen and (max-width: 768px) {
    .container::before {
        height: 220px;
    }
    .display {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card {
        margin: 1rem;
    }
}

// @media only screen and (max-width: 425px) {
//     .container::before {
//         height: 220px;
//     }
//     .image_container {
//         // right: 0;
//         width: 40%;
//     }
//     .grid {
//         display: flex;
//         flex-wrap: wrap;
//         justify-content: center;
//     }
//     .card {
//         margin-bottom: 2rem;
//     }
// }

// @media only screen and (max-width: 992px) {
//     .container::before {
//         height: 80px;
//     }

//     .grid {
//         display: flex;
//         flex-wrap: wrap;
//         justify-content: center;
//     }
//     .card {
//         margin: 1rem;
//     }
// }

// @media only screen and (max-width: 700px) {
//     .container::before {
//         height: 220px;
//     }
// }
