.page__content_container {
    display: flex;
    justify-content: center;
}

.page__content {
    width: 70%;
}

.title {
    // text-transform: uppercase;
    // font-weight: 400;
    padding-top: 1rem;
    margin-bottom: 1rem;
}

.date {
}

.image_container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.image {
    width: 90%;
    height: auto;
}

.paragraph {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.bold_text {
    font-weight: 500;
    color: var(--color2);
}

.list {
    list-style-type: circle;
    padding-left: 3rem;
}

.link {
    font-weight: 400;
    color: var(--color1);
}

// ----------------------------------------------
// MEDIA QUERIES

@media only screen and (max-width: 900px) {
    .page__content {
        width: 100%;
    }
}
