@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import '../styles/_variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: $background-color;
    // color: #414e54;
    overflow-y: overlay;
}

// main {
//     display: flex;
//     flex-direction: column;
// }

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page__title {
    padding-top: 15vh;
    font-size: 3rem;
    margin-bottom: 3rem;
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.25rem;
}

p {
    font-size: 0.8rem;
}

button {
    display: inline;
}

.btn {
    display: inline-block;
    background-color: #ffffff;
    text-decoration: none;
    font-size: 0.8rem;
    color: black;
    border: 1px solid #02478c;
    padding: 0.5rem 1.2rem;
    margin-top: 0.5rem;
    border-radius: 2rem;
    text-align: center;
}

.btn.btn-left {
    justify-self: flex-start;
    align-self: flex-start;
}

.btn.btn-center {
    justify-self: center;
    align-self: center;
}

.btn:hover {
    background-color: #02478c;
    color: #fff;
}
