@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import '../styles/_variables.scss';

@function hexToRGB($hex) {
    @return red($hex), green($hex), blue($hex);
}

$color1: #30496c;
$color2: #3f6e88;
$color3: #88aac1;
$color4: #c5e2e0;
$color5: #f5f9f9;

:root {
    --color1: #{$color1};
    --color2: #{$color2};
    --color3: #{$color3};
    --color4: #{$color4};
    --color5: #{$color5};
    --color1--rgb: #{hexToRGB($color1)};
    --color2--rgb: #{hexToRGB($color2)};
    --color3--rgb: #{hexToRGB($color3)};
    --color4--rgb: #{hexToRGB($color4)};
    --color5--rgb: #{hexToRGB($color5)};
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: $background-color;
    color: var(--color2);
    overflow-y: overlay;
    font-weight: 300;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page__title {
    padding-top: 10%;
    font-size: 4rem;
    margin-bottom: 3rem;
}

h1 {
    font-size: 3rem;
    font-weight: 300;
}

h2 {
    font-size: 2rem;
    font-weight: 300;
}

h3 {
    font-size: 1.25rem;
    font-weight: 300;
}

p {
    font-size: 0.8rem;
    font-weight: 300;
}

button {
    display: inline;
}

i {
    padding-right: 0.2rem;
}

.btn {
    cursor: pointer;
    display: inline-block;
    background-color: #ffffff;
    text-decoration: none;
    font-size: 0.8rem;
    color: black;
    border: 1px solid #d4d4d4;
    padding: 0.5rem 2rem;
    margin-top: 0.5rem;
    border-radius: 2rem;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.btn.btn-left {
    justify-self: flex-start;
    align-self: flex-start;
}

.btn.btn-center {
    justify-self: center;
    align-self: center;
}

.btn:hover {
    background-color: #02478c;
    border: 1px solid #02478c;
    color: #fff;
}

// ----------------------------------------------
// MEDIA QUERIES

@media only screen and (min-width: 1441px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 3rem;
    }
    h3 {
        font-size: 1.7rem;
    }
    p {
        font-size: 1rem;
        line-height: 1.75rem;
    }
}
@media only screen and (max-width: 1440px) {
    .page__title {
        padding-top: 15%;
    }
}

@media only screen and (max-width: 900px) {
    .page__title {
        padding-top: 15rem;
    }
}

@media only screen and (max-width: 425px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1rem;
    }
    // .page__title {
    //     padding-top: 15rem;
    // }
}

@media only screen and (max-width: 320px) {
    .page__title {
        padding-top: 15rem;
    }
}

// @media (min-width: 1441px) {
//     h1 {
//         font-size: 6rem;
//         font-weight: 300;
//     }

//     h2 {
//         font-size: 4rem;
//         font-weight: 300;
//     }

//     h3 {
//         font-size: 2.5rem;
//         font-weight: 300;
//     }

//     p {
//         font-size: 1.5rem;
//         font-weight: 300;
//     }
// }
