@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import '../styles/_variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: $background-color;
    // opacity: 0.7;
}

section {
    margin: 1rem 0 1rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.25rem;
}

p {
    font-size: 0.8rem;
}

.btn {
    text-decoration: none;
    font-size: 0.8rem;
    color: black;
    border: 1px solid black;
    padding: 0.5rem 1.2rem;
    border-radius: 2rem;
}

.btn:hover {
    background-color: black;
    color: #fff;
}
