@import './src/styles/_variables.scss';

.page__content {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.page__content__questions {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.page__content__image {
    padding: 1rem;
    width: 50%;
}

.page__content__card__title {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 1rem;
    border: none;
    outline: none;
    background-color: #fff;
}

.page__content__card__header {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 1rem;
    border: none;
    outline: none;
    background-color: #fff;
}

.page__content__card__title__toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    transition: all 0.3s ease-in-out;
    & > i {
        padding: 0;
    }
}

.page__content__card__title__toggle_active {
    transform: rotate(90deg);
}

.page__content__card__text {
    display: none;
    // text-align: justify;
    // text-justify: inter-word;
    line-height: 1.25rem;
    margin-bottom: 1.5rem;
    padding-left: 2.1rem;
    // transition: all 0.3s ease-in-out;
}

.page__content__card__text__visible {
    display: block;
    // transform: translateY(-10px);
    animation: appear 0.5s ease-in-out;
}

.page__content__card__container {
    display: flex;
}

.page__content__card__container__title {
    margin-bottom: 1rem;
}

.page__content__card__experience {
    flex-basis: 50%;
}

.page__content__card__education {
    list-style-position: inside;
}

.image {
    width: 100%;
}

.page__content__contacts {
    padding-top: 4rem;
    padding-bottom: 1rem;
    &__link {
        display: flex;
        align-items: center;
        padding-top: 0.3rem;
        &__click {
            color: #02478c;
        }
    }
}
