.page__content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.contact_form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.contact_form__label {
    margin-bottom: 2rem;
}

.inputField {
    height: 2rem;
    padding: 0 0.5rem;
    width: 90%;
    margin-bottom: 1rem;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
}

.textArea {
    padding: 0.5rem 0.5rem;
    width: 90%;
    margin-bottom: 1rem;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    resize: none;
}

.social_contacts {
    padding: 5rem 1rem;
}

.social_contacts__links {
    padding: 1rem;
}

.social_contacts__links__item {
    text-decoration: none;
    color: black;
    margin-right: 1rem;
    &:hover {
        color: #02478c;
    }
}

// @media only screen and (max-width: 800px) {
//     .page__content {
//         flex-direction: column;
//         // justify-content: center;
//         align-items: center;
//     }
//     .contact_form {
//         width: 80%;
//     }
//     .social_contacts {
//         padding: 3rem 0;
//         width: 80%;
//     }
// }

@media only screen and (max-width: 768px) {
    .project_card__links {
        & > a {
            width: 40%;
        }
    }
    .contact_form {
        width: 70%;
    }
}

@media only screen and (max-width: 425px) {
    .page__content {
        flex-direction: column;
        align-items: center;
    }
    .contact_form {
        width: 100%;
    }
    .social_contacts {
        padding: 3rem 0;
        width: 100%;
    }
    .inputField {
        width: 100%;
    }

    .textArea {
        width: 100%;
    }
}
