.garden {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.plant {
    text-decoration: none;
    color: var(--color2);
    // display: inline-block;
    border: 1px solid var(--color3);
    border-radius: 5px;
    padding: 1rem;
    min-width: 8rem;
    max-width: 12rem;
    margin: 1rem;
    transition: all 0.5s ease-in-out;
    .plant__name {
        padding-bottom: 0.5rem;
    }
    &:hover {
        transform: scale(1.05);
    }
}
