@import './src/styles/_variables.scss';

.project_card {
    display: flex;
    padding-bottom: 3rem;
}

.project_card__preview {
    width: 50%;
}

.project_card__preview__image {
    width: 100%;
    border-radius: 10px;
}

.project_card__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}

.project_card__title {
    padding-bottom: 0.5rem;
}

.project_card__releaseDate {
    padding-bottom: 1rem;
}

.project_card__description {
    line-height: 1.25rem;
    padding-bottom: 0.5rem;
}

.project_card__languages {
    display: flex;
    margin-bottom: 1rem;
    &__label {
        color: #02478c;
        border: 1px dotted #02478c;
        opacity: 0.7;
        padding: 0.15rem 0.5rem;
        margin-right: 0.3rem;
        border-radius: 10px;
    }
}

.project_card__links {
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
    & > a {
        width: 30%;
        justify-content: center;
        margin-right: 0.5rem;
    }
}

@media only screen and (min-width: 1024px) {
    .project_card__links {
        & > a {
            font-size: 1rem;
            width: 40%;
        }
    }
}

@media only screen and (min-width: 769px) {
    .project_card__description {
        line-height: 1.75rem;
        padding-bottom: 0.5rem;
    }
    .project_card__links {
        & > a {
            // font-size: 1rem;
            width: 40%;
        }
    }
}

@media only screen and (max-width: 768px) {
    .project_card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .project_card__preview {
        width: 100%;
    }
    .project_card__content {
        width: 100%;
        padding: 1rem 0 2rem;
    }
    .project_card__links {
        & > a {
            width: 40%;
        }
    }
}

// @media only screen and (max-width: 425px) {
//     .project_card {
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//     }
//     .project_card__preview {
//         width: 100%;
//     }
//     .project_card__content {
//         width: 100%;
//         padding: 1rem 0 2rem;
//     }
// }

// @media only screen and (max-width: 800px) {
//     .project_card {
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//     }
//     .project_card__preview {
//         width: 80%;
//     }
//     .project_card__content {
//         // width: 50%;
//         // display: flex;
//         // flex-direction: column;
//         padding: 1rem 0 2rem;
//     }
// }
