@import './src/styles/_variables.scss';

.page__content__card {
    display: flex;
    padding-bottom: 3rem;
}

.page__content__card_preview {
    width: 50%;
}

.page__content__card_preview_image {
    width: 100%;
    border-radius: 10px;
}

.page__content__card_content {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}

.page__content__card_content_title {
    padding-bottom: 0.5rem;
}

.page__content__card_content_releaseDate {
    padding-bottom: 1rem;
}

.page__content__card_description {
    line-height: 1.25rem;
    padding-bottom: 0.5rem;
}

.page__content__card_content_languages {
    display: flex;
    margin-bottom: 1rem;
    &_label {
        color: var(--color2);
        border: 1px dotted var(--color2);
        opacity: 0.8;
        padding: 0.15rem 0.5rem;
        margin-right: 0.3rem;
        border-radius: 10px;
    }
}

.page__content__card_links {
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
    // & > a {
    //     width: 30%;
    //     justify-content: center;
    //     margin-right: 0.5rem;
    // }
}

.btn_link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    margin: 0.5rem 0.5rem;
    color: var(--color3);
    border-radius: 1rem;
    box-shadow: 3px 3px 8px 2px rgba(var(--color4--rgb), 0.6),
        -3px -3px 6px 5px rgba(255, 255, 255, 0.9);
    transition: all 0.5s ease-out;
    & .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.6s ease-out;
    }
    &:hover {
        color: var(--color1);
        & .icon {
            transform: rotate(360deg);
        }
    }
}

@media only screen and (min-width: 1024px) {
    .page__content__card_links {
        & > a {
            font-size: 0.8rem;
            width: 40%;
        }
    }
}

@media only screen and (min-width: 769px) {
    .page__content__card_description {
        line-height: 1.75rem;
        padding-bottom: 0.5rem;
    }
    .page__content__card_links {
        & > a {
            // font-size: 1rem;
            width: 40%;
        }
    }
}

@media only screen and (max-width: 768px) {
    .project_card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .project_card__preview {
        width: 100%;
    }
    .project_card__content {
        width: 100%;
        padding: 1rem 0 2rem;
    }
    .project_card__links {
        & > a {
            width: 40%;
        }
    }
}

// @media only screen and (max-width: 425px) {
//     .project_card {
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//     }
//     .project_card__preview {
//         width: 100%;
//     }
//     .project_card__content {
//         width: 100%;
//         padding: 1rem 0 2rem;
//     }
// }

// @media only screen and (max-width: 800px) {
//     .project_card {
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//     }
//     .project_card__preview {
//         width: 80%;
//     }
//     .project_card__content {
//         // width: 50%;
//         // display: flex;
//         // flex-direction: column;
//         padding: 1rem 0 2rem;
//     }
// }
