.footer {
    padding: 2rem 0 1rem;
    color: var(--color3);
}

.links_row {
    display: flex;
    justify-content: space-between;
}

.social_contacts__links {
    padding: 0.5rem 0 0;
}

.social_contacts__links__item {
    text-decoration: none;
    color: var(--color3);
    margin-right: 0.5rem;
    &:hover {
        color: var(--color1);
    }
}

.backtotop_button {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: var(--color5);
    color: var(--color3);
    font-weight: 300;
    outline: none;
    border: none;
}
