@import '../styles/_variables.scss';

.header {
    background-color: $background-color;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 1em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__container {
    width: $page-width;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    color: black;
    font-size: 2rem;
    text-decoration: none;
}

.nav__list {
    display: flex;
    list-style-type: none;
    align-items: center;
    white-space: nowrap;
}

.nav__list__item {
    display: inline-block;
    color: #aec0ce;
    font-size: 1em;
    text-decoration: none;
    margin-left: 1.5em;
    &:hover {
        color: #0282c3;
    }
}

.active_nav__item {
    font-size: 1em;
    text-decoration: none;
    margin-left: 1.5em;
    color: #02478c;
    &:hover {
        color: #0282c3;
    }
}

@media only screen and (max-width: 768px) {
    .header__container {
        width: $page-width;
        display: flex;
        flex-direction: column;
    }
    .nav__list {
        flex-direction: column;
        line-height: 1.75rem;
    }
    .nav__list__item {
        margin-left: 0;
    }
    .active_nav__item {
        margin-left: 0;
    }
}
